
<p class="text-purple-600 ...">
    Bui Phu An
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cum, temporibus aspernatur? Harum est rem facilis libero, commodi repudiandae provident, natus illum nam odio amet unde explicabo suscipit et modi nobis a exercitationem consequatur necessitatibus, aspernatur porro soluta aperiam. Doloribus voluptates ad est incidunt voluptatem quidem consectetur porro debitis quasi deserunt? Exercitationem nam odit in adipisci ex error nesciunt odio suscipit repellendus, nulla iure consequatur hic recusandae, libero incidunt vitae harum ad! Modi fuga cumque porro explicabo repellendus qui ipsa, officiis pariatur reiciendis tempora, illum vel aut exercitationem itaque. Ullam libero beatae debitis consequuntur tenetur! Non excepturi nisi dolore necessitatibus alias?
</p>