
<form>
    <div class="mb-3 mt-3 w-50 m-auto    ">
        <label for="exampleInputPassword1" class="form-label">Từ khóa</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Nhập từ khóa">
         <button type="submit" class="btn btn-primary mt-3">Submit</button>
    </div>
   
</form>